@model IEnumerable<Inventory_management.Models.trainer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/adminView/payment3.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <center>
        <br />
        <h2 class="text-danger">Payment Management(Trainer)</h2>
    </center>
    <br />
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success", @style = "color:white" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TrainerID }, new { @class = "btn btn-success", @style = "color:white" })
                    @Html.ActionLink("Details", "Details", new { id = item.TrainerID }, new { @class = "btn btn-dark", @style = "color:white" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.TrainerID }, new { @class = "btn btn-danger", @style = "color:white" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
