@model Inventory_management.Models.bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/adminView/payment3.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bill Payment Details</title>
</head>
<body>
    <div>
        <br />
        <h4>Details of Bill</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Payment_Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Payment_Date)
            </dd>
    
        </dl>
    </div>
    <br />
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.billId },new { @class = "btn btn-dark", @style = "text-decoration:none;color:white;" }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
